/* Навигация */
.t454 {
    background-color: #292929;
    height: 100px;
    position: relative;
}

/* Внешний контейнер */
#nav951212026 {
    background-color: #292929;
    height: 50px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

/* Основной контейнер */
.t454__maincontainer {
    display: flex;
    justify-content: space-between; /* Распределение элементов по краям */
    align-items: center;
    width: 90%; /* Устанавливаем ширину контейнера */
    min-width: 1800px; /* Минимальная ширина контейнера */
    max-width: 20000px; /* Ограничиваем максимальную ширину */
    gap: 40px; /* Расстояние между всеми элементами */
    margin: 0 auto; /* Центрирование по горизонтали */
}

/* Блоки с контентом */

.t454__list {
    display: flex;          /* Делаем список горизонтальным */
    padding-left: 0;        /* Убираем стандартный отступ слева */
    list-style-type: none;  /* Убираем маркеры */
    gap: 40px;              /* Добавляем промежуток между элементами */
}

.t454__list_item {
    display: block;         /* Обязательно, чтобы применить стили */
}


/* Центрированный логотип */
.t454__logowrapper {
    flex-grow: 1; /* Расширяемся, чтобы занять оставшееся место */
    text-align: center; /* Выравнивание по центру */
    margin: 200px; /* Отступы сверху/снизу — 0, слева/справа — 50px */
    display: flex;
    justify-content: center; /* Центрирование содержимого */
    align-items: center; /* Вертикальное центрирование */
}

/* Дополнительное оформление */
.t454__logo {
    color: white; /* Цвет текста */
    font-size: 35px; /* Размер шрифта */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Навигационные пункты */
.t454__list_item {
    list-style-type: none; /* Убираем точки у списков */
}

.t454__list_item a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 17px; /* Уменьшаем размер шрифта */
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Скрываем излишек текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
    max-width: 150px; /* Ограничиваем максимальную ширину */
}

@media (max-width: 768px) { /* Для мобильных устройств */
    .t454__list_item a {
        font-size: 12px; /* Меньший шрифт для маленьких экранов */
    }
}


/* Мобильное меню */
.tmenu-mobile {
    display: none;
    background-color: #111;
    width: 100%;
    top: 0;
    z-index: 990;
}

.tmenu-mobile__container {
    min-height: 64px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.t-menuburger {
    position: relative;
    width: 28px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
}

.t-menuburger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    left: 0;
    transition: .25s ease-in-out;
}

.t-menuburger span:nth-child(1) {
    top: 0px;
}

.t-menuburger span:nth-child(2),
.t-menuburger span:nth-child(3) {
    top: 8px;
}

.t-menuburger span:nth-child(4) {
    top: 16px;
}

.t-menuburger-opened span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.t-menuburger-opened span:nth-child(2) {
    transform: rotate(45deg);
}

.t-menuburger-opened span:nth-child(3) {
    transform: rotate(-45deg);
}

.t-menuburger-opened span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

@media (max-width: 980px) {
    .tmenu-mobile {
        display: block;
    }
    
    .t454__maincontainer {
        display: none;
    }
    
    .t454__logo {
        display: none;
    }
}